  <div class="banner">
    <h1>Hop in Le Wagon !</h1>
    <div class="btn btn-danger">
      <%= link_to "Join us", "#", class: "btn-space" %>
    </div>
  </div>


<div class="container mt-5">
  <h3>Titre cool</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione recusandae consequuntur perspiciatis voluptate, expedita quo aliquid culpa nesciunt, impedit provident cupiditate quam est.</p>
</div>


