  <div class="banner">
    <h1>Hop in Le Wagon !</h1>
    <div class="btn btn-danger">
      <%= link_to "Join us", "#", class: "btn-space" %>
    </div>
  </div>


<div class="container mt-5">
  <h3>L'asso</h3>
  <p>Tous les anciens élèves du Wagon sont automatiquement membre de l'association des alumni du Wagon. Cela vous donne droit, pour le moment, à vous inscrire à ces fabuleux formulaires 👇</p>
  <div class="container-form">
    <div class="form-ski">
      <p>Le ski, c'est cool</p>
    </div>
    <div class="form-ideas">
      <p>Boite à idée</p>
    </div>
  </div>
</div>


